
// element-ui
$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import "~element-ui/packages/theme-chalk/src/index";


body {
  margin: 0;
  padding: 0;
}

.home .header {
  background-color: $--bg-base;
  color: $--color-base;
  .menus .dropdown .el-dropdown-link{
    color: $--color-base;
  }
}